<hr>

<div>
  <div>
    <h2>
      Add a new business
    </h2>

    <form action="/insert_business" method="post">
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name">
      
        <button type="submit" class="btn btn-info">Create business</button>
      </div>
    </form>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      List of all businesses
    </h1>
  </div>
</div>

<div>
  <div>
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th  scope="col">
            #
          </th>

          <th  scope="col">
            Name
          </th>
        </tr>
      </thead>   

      <tbody>
        <% @list_of_businesses.each_with_index do |a_business, the_index| %>
          <tr>
            <th scope="row">
              <%= the_index + 1%>
            </th>

            <td>
              <%= a_business.name %>
            </td>
          </tr>
        <% end %>
      </tbody>  
    </table>
  </div>
</div>

<hr>
