<div>
  <div>
    <h1>
      List of all businesses
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new business
    </h2>

    <form action="/insert_business" method="post">
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name">
      
        <button>Create business</button>
      </div>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          No:
        </th>

        <th>
          Name
        </th>
        
      </tr>

      <% @list_of_businesses.each_with_index do |a_business, the_index| %>
        <tr>
          <td>
            <%= the_index + 1%>
          </td>

          <td>
            <%= a_business.name %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
