<hr>

<div>
  <div>
    <h2>
      Add a new category
    </h2>

    <form action="/insert_category" method="post">
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name">
      
        <button type="submit" class="btn btn-info">
          Create category
        </button>
      
      </div>

      
    </form>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      List of all categories
    </h2>
  </div>
</div>

<div>
  <div>
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th scope="col">
            #
          </th>

          <th scope="col">
            Name
          </th>
        </tr>
      </thead>

      <tbody>
        <% @list_of_categories.each_with_index do |a_category, the_index| %>
          <tr>
            <th scope="row">
              <%= the_index + 1 %>
            </th>

            <td>
              <%= a_category.name %>
            </td>
          </tr>
        <% end %>
      </tbody>      
    </table>
  </div>
</div>

<hr>
