<div>
  <div>
    <h1>
      List of all categories
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new category
    </h2>

    <form action="/insert_category" method="post">
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name">
      
        <button>
          Create category
        </button>
      
      </div>

      
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          No:
        </th>

        <th>
          Name
        </th>
      </tr>

      <% @list_of_categories.each_with_index do |a_category, the_index| %>
        <tr>
          <td>
            <%= the_index + 1 %>
          </td>

          <td>
            <%= a_category.name %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
