<h1>Dashboard</h1>

<div>
  <div>
    <h2>
      Select a date range
    </h2>

    <form action="/show_dashboard">
      <div>
        <label for="date_box_start">Start Date</label>
        <input type="date" id="date_box_start" name="query_start_date">
           
        <label for="date_box_end">Start Date</label>
        <input type="date" id="date_box_end" name="query_end_date">
      
        <button>View summary</button>
      </div>
    </form>
  </div>
</div>

<hr>