<h1>Dashboard</h1>
<hr>
<div>
  <div>
    <h4>
      Select a date range
    </h4>
  </div>
  <div>  
    <form action="/show_dashboard">
      <div class="form-group">
        <label for="date_box_start">Start Date</label>
        <input type="date" id="date_box_start" name="query_start_date">
           
        <label for="date_box_end">End Date</label>
        <input type="date" id="date_box_end" name="query_end_date">
      
        <button type="submit" class="btn btn-info">View summary</button>
      </div>
    </form>
  </div>
</div>

<hr>