<h1>Hello....will update soon</h1>


<%= @matching_budgets %>
<%= @matching_expenses %>

<div>
  <div>
    <h2>
      Select a date range
    </h2>

    <form action="/show_dashboard">
      <div>
        <label for="date_box_start">Start Date</label>
        <input type="date" id="date_box_start" name="query_start_date">
      </div>

      <div>
        <label for="date_box_end">Start Date</label>
        <input type="date" id="date_box_end" name="query_end_date">
      </div>

      <div>
        <button>View summary</button>
      </div>

      
    </form>
  </div>
</div>

<hr>